doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    block CustomsCSS    
  body
    block content
    script(src="/bootstrap/dist/js/bootstrap.min.js")
